In [1]:
import pandas as pd

In [2]:
pd.__file__

'/workspaces/iot-sensor-data-pipeline/.venv/lib/python3.13/site-packages/pandas/__init__.py'

In [3]:
df = pd.read_csv("data/sensor_logs.txt", names=["reading_time", "pump_id", "sensor_type", "value"])

In [4]:
df.head()

          reading_time pump_id  sensor_type   value
0  2025-01-01 00:00:00  pump_1  temperature  93.290
1  2025-01-01 00:00:00  pump_1    vibration   1.715
2  2025-01-01 00:00:00  pump_2  temperature  72.430
3  2025-01-01 00:00:00  pump_2    vibration   0.355
4  2025-01-01 00:00:00  pump_3  temperature  78.620

In [5]:
len(df)

1036840

In [6]:
df.dtypes

reading_time        str
pump_id             str
sensor_type         str
value           float64
dtype: object

In [7]:
df.shape

(1036840, 4)

In [13]:
dtype = {
    "pump_id": "string",
    "sensor_type": "string",
    "value": "float64"
}

parse_dates = [
    "reading_time"
]

df = pd.read_csv("data/sensor_logs.txt", names=["reading_time", "pump_id", "sensor_type", "value"],
    dtype=dtype,
    parse_dates=parse_dates
)

In [14]:
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg://root:root@localhost:5432/sensor')

In [16]:
print(df.dtypes)

reading_time    datetime64[us]
pump_id                 string
sensor_type             string
value                  float64
dtype: object

In [15]:
print(pd.io.sql.get_schema(df, name='sensor_data', con=engine))

CREATE TABLE sensor_data (
	reading_time TIMESTAMP WITHOUT TIME ZONE,
	pump_id TEXT,
	sensor_type TEXT,
	value FLOAT(53)
)

In [17]:
df.head(0)

Empty DataFrame
Columns: [reading_time, pump_id, sensor_type, value]
Index: []

In [18]:
df.head(0).to_sql(name='sensor_data', con=engine, if_exists='replace')

0

In [19]:
df_iter = pd.read_csv(
    "data/sensor_logs.txt",
    names=["reading_time", "pump_id", "sensor_type", "value"],
    dtype=dtype,
    parse_dates=parse_dates,
    iterator=True,
    chunksize=100000
)

In [20]:
from tqdm.auto import tqdm

In [21]:
for df_chunk in tqdm(df_iter):
    df_chunk.to_sql(name='sensor_data', con=engine, if_exists='append')

0it [00:00, ?it/s]

In [14]:
df = next(df_iter)

In [16]:
df

             reading_time  pump_id  sensor_type   value
0     2025-01-01 00:00:00   pump_1  temperature  93.290
1     2025-01-01 00:00:00   pump_1    vibration   1.715
2     2025-01-01 00:00:00   pump_2  temperature  72.430
3     2025-01-01 00:00:00   pump_2    vibration   0.355
4     2025-01-01 00:00:00   pump_3  temperature  78.620
...                   ...      ...          ...     ...
99995 2025-01-01 04:37:40  pump_18    vibration   1.181
99996 2025-01-01 04:37:40  pump_19  temperature  69.410
99997 2025-01-01 04:37:40  pump_19    vibration   1.047
99998 2025-01-01 04:37:40  pump_20  temperature  87.890
99999 2025-01-01 04:37:40  pump_20    vibration   2.153

[100000 rows x 4 columns]