In [24]:
import pandas as pd

In [25]:
pd.__file__

'/workspaces/iot-sensor-data-pipeline/.venv/lib/python3.13/site-packages/pandas/__init__.py'

In [26]:
df = pd.read_csv("data/sensor_logs.txt", names=["reading_time", "pump_id", "sensor_type", "value"], parse_dates=["reading_time"])

In [27]:
df.head()

  reading_time pump_id  sensor_type   value
0   2025-01-01  pump_1  temperature  93.290
1   2025-01-01  pump_1    vibration   1.715
2   2025-01-01  pump_2  temperature  72.430
3   2025-01-01  pump_2    vibration   0.355
4   2025-01-01  pump_3  temperature  78.620

In [28]:
len(df)

1036840

In [29]:
df.dtypes

reading_time    datetime64[us]
pump_id                    str
sensor_type                str
value                  float64
dtype: object

In [30]:
df.shape

(1036840, 4)

In [31]:
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg://root:root@localhost:5432/sensor')

In [32]:
print(pd.io.sql.get_schema(df, name='sensor_data', con=engine))

CREATE TABLE sensor_data (
	reading_time TIMESTAMP WITHOUT TIME ZONE,
	pump_id TEXT,
	sensor_type TEXT,
	value FLOAT(53)
)

In [33]:
df.head(0)

Empty DataFrame
Columns: [reading_time, pump_id, sensor_type, value]
Index: []

In [34]:
df.head(0).to_sql(name='sensor_data', con=engine, if_exists='replace')

0